footer {
  padding: 50px 0px;
  background: var(--black);
  color: var(--white);
  * {
    &:focus {
      outline-color: var(--white);
    }
  }
  .impLinks {
    text-align: right;
    @media screen and (max-width: 599px) {
      text-align: left;
    }
  }
  .copyrightStatement {
    @media screen and (max-width: 899px) {
      order: 1;
      text-align: center;
    }
  }
  .socialIconGrid {
    @media screen and (max-width: 899px) {
      .social-icons {
        justify-content: center;
      }
    }
  }
  .logo-cover {
    width: 220px;
    max-width: 100%;
    display: block;
    @media screen and (max-width: 1200px) {
      width: 200px;
    }
    @media screen and (max-width: 1100px) {
      width: 180px;
    }
    @media screen and (max-width: 992px) {
      width: 160px;
    }
    @media screen and (max-width: 900px) {
      width: 150px;
    }
    img {
      width: 100%;
      display: table-cell;
    }
  }
  ul {
    li {
      padding: 6px 0px;
      a {
        color: var(--white);
        transition: 0.2s;
        font-size: 16px;
        display: inline-block !important;
        @media screen and (max-width: 768px) {
          font-size: 14px;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      &:not(:first-child) {
        margin-left: 45px;
      }
      img {
        width: 30px;
        display: table-cell;
      }
    }
  }
}
