// $primary: #c79a8b;
$primary: #a87b6c;

:root {
    // --primary: #c79a8b;
    // --primary: #a87b6c;
    --primary: #916759;
    --blue: #2d3981;

    --white: #ffffff;
    --black: #23262F;
    --subtext: #777E90;
    
    --light-bg: #faf6f5;
}
